.hidden {
    display:none !important;
}

.col-xl-2 {
    min-width: 19rem !important;
}

.pokemon-selected:not(.filter-shiny-true) > div {
    box-shadow: 0px 0px 8px 12px #f27373 !important;
} 

div.pokemon-selected.filter-shiny-true > div {
    box-shadow: 0px 0px 8px 12px #f2bf73 !important;
} 