<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input #textbox type="text" [(ngModel)]="textValue" required class="form-control bg-light border-2 small"
                placeholder="Suche nach Name oder Nummer" aria-label="Search" aria-describedby="basic-addon2"
                name="searchNrName" id="searchNrName" (keyup.enter)="searchByNrName(textbox.value)">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="searchByNrName(textbox.value)">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid" OFF__onmouseenter="$('.tooltips').tooltip();" (click)="useLocalStorage()">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><span id="pokemonCounter"><i class="fas fa-sync fa-spin"
                    data-original-title="" title=""
                    style="color: #4e73df; font-size: 2rem;"></i></span>&nbsp;&nbsp;Pokémon</h1>
    </div>
    <div class="row">
        <ng-container *ngFor="let pokemonVariants of pokemons; index as iV;">
            <ng-container *ngFor="let pokemon of pokemonVariants; index as i;">
                <div class="col-xl-2 col-md-6 mb-4 pokemons pokemon-{{pokemon.de}} pokemon-{{pokemon.en}} pokemon-{{pokemon.es}} pokemon-{{pokemon.fr}} pokemon-{{pokemon.it}} pokemon-{{pokemon.ja}} pokemon-{{pokemon.ko}}  pokemon-{{pokemon.dex}} filter-all filter-type-{{pokemon.types[0]}} filter-type-{{pokemon.types[1]}} filter-shiny-{{pokemon.shiny}}  filter-region-{{pokemon.regions[0]}} filter-region-{{pokemon.regions[1]}} filter-region-{{pokemon.regions[2]}} hidden-{{pokemon.shiny}} filter-region-{{pokemon.regions[3]}} filter-region-{{pokemon.regions[4]}} filter-region-{{pokemon.regions[5]}} filter-region-{{pokemon.regions[6]}} filter-region-{{pokemon.regions[7]}} filter-inCollection-{{pokemon.inCollection}}"
                    (click)="markPokemon($event)">
                    <div class="card border-left-primary shadow h-100 py-2 ">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="OFF__text-xs font-weight-bold text-primary OFF__text-uppercase mb-1"
                                        style="font-size:1.5rem;">
                                        <span class="language language_de">{{pokemon.de}}</span>
                                        <span class="language language_en" style="display:none;">{{pokemon.en}}</span>
                                        <span class="language language_es" style="display:none;">{{pokemon.es}}</span>
                                        <span class="language language_fr" style="display:none;">{{pokemon.fr}}</span>
                                        <span class="language language_it" style="display:none;">{{pokemon.it}}</span>
                                        <span class="language language_ja" style="display:none;">{{pokemon.ja}}</span>
                                        <span class="language language_ko" style="display:none;">{{pokemon.ko}}</span>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><img alt='' (load)="onImageLoad()"
                                            id="img-pokemon-{{pokemon.dex}}" class="img-pokemon"
                                            style="width:120px; height:7.5rem" src="{{pokemon.url_front}}" />
                                    </div>
                                    <div _ngcontent-nlx-c101="" _ngcontent-rgn-c101=""
                                        class="OFF__text-xs font-weight-bold text-primary OFF__text-uppercase mb-1"
                                        style="vertical-align:middle;height:1.8Xrem; margin-top:23px;font-size: 0.8rem; background-color: #dddfeb; padding: 1px 4px 9px 4px; border-radius: 3px 3px 3px 3px;">
                                        <table _ngcontent-nlx-c101="">
                                            <tbody>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="" style="vertical-align: top;">Type: </td>
                                                    <td _ngcontent-nlx-c101=""></td>
                                                    <td _ngcontent-nlx-c101="" style="vertical-align: top;">
                                                        {{pokemon.types[0]}}&nbsp;&nbsp;{{pokemon.types[1]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div _ngcontent-nlx-c101="" _ngcontent-rgn-c101=""
                                        class="OFF__text-xs font-weight-bold text-primary OFF__text-uppercase mb-1"
                                        style="vertical-align:middle; height:3rem;;font-size: 0.8rem; background-color: #dddfeb; padding: 1px 4px 9px 4px; border-radius: 3px 3px 3px 3px;">
                                        <table _ngcontent-nlx-c101="">
                                            <tbody>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="" style="vertical-align: top;">Region:
                                                        {{pokemon.regions[0]}} {{pokemon.regions[1]}}
                                                        {{pokemon.regions[2]}} {{pokemon.regions[3]}}
                                                        {{pokemon.regions[4]}} {{pokemon.regions[5]}}
                                                        {{pokemon.regions[6]}} {{pokemon.regions[7]}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-auto" style="text-align: center;height: 275px; color:#4e73df">
                                    <ng-template [ngIf]="pokemon.shiny" [ngIfElse]="notShiny">
                                        <div class=""
                                            style="line-height:16px; font-weight:bold; font-size: 0.8rem;background-color: #ff00eb; color:white; height:3.5rem;  padding: 4px 4px 4px 4px;border-radius: 3px 3px 3px 3px;/* width: 141px; */">
                                            <i _ngcontent-vok-c101="" class="fas fa-star" style="font-size:18px;"></i>
                                            <br /> #{{pokemon.dex}}<br />shiny
                                        </div>
                                    </ng-template>
                                    <ng-template #notShiny>
                                        <div class=""
                                            style=" font-weight:bold; font-size: 0.8rem;background-color: #4e73df; color:white; height:3.5rem; padding: 4px 4px 4px 4px;border-radius: 3px 3px 3px 3px;/* width: 141px; */">
                                            <i _ngcontent-vok-c101="" class="fas fa-map-marker"
                                                style="font-size:18px;"></i>
                                            <br />
                                            #{{pokemon.dex}}
                                        </div>
                                    </ng-template>
                                    <div class=""
                                        style="height:3.6rem; margin-top:5px; font-size: 0.8rem;background-color: #dddfeb;padding: 4px 4px 4px 4px;border-radius: 3px 3px 3px 3px;/* width: 141px; */">
                                        <table _ngcontent-nlx-c101="">
                                            <tbody>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="">Height </td>
                                                </tr>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="">{{pokemon.height}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=""
                                        style="height:3.6rem; margin-top:5px; font-size: 0.8rem;background-color: #dddfeb;padding: 4px 4px 4px 4px;border-radius: 3px 3px 3px 3px;/* width: 141px; */">
                                        <table _ngcontent-nlx-c101="">
                                            <tbody>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="">Weight</td>
                                                </tr>
                                                <tr _ngcontent-nlx-c101="">
                                                    <td _ngcontent-nlx-c101="">{{pokemon.weight}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ng-template [ngIf]="pokemon.shiny" [ngIfElse]="notShiny2">
                                        <button style="height:2.4rem; margin-top: 5px;" data-toggle="tooltip"
                                            data-placement="right"
                                            (click)="toggleShinyRegular('.filter-shiny-false.pokemon-' + pokemon.dex)"
                                            class="btn btn-facebook btn-block tooltips"
                                            title="Show/Hide Regular Pokémon!">
                                            <i class="fas fa-map-marker" style="font-size:18px;"></i></button>
                                    </ng-template>
                                    <ng-template #notShiny2>
                                        <button style="height:2.4rem; margin-top: 5px;" data-toggle="tooltip"
                                            data-placement="right"
                                            (click)="toggleShinyRegular('.filter-shiny-true.pokemon-' + pokemon.dex)"
                                            class="btn btn-facebook btn-block tooltips"
                                            title="Show/Hide Shiny Pokémon!"> <i class="fas fa-star"
                                                style="font-size:22px; color:#ff00eb;"></i></button>
                                    </ng-template>
                                    <ng-template [ngIf]="pokemon.inCollection" [ngIfElse]="notInCollection">
                                        <ng-template [ngIf]="globalFunctions.loginUsername" [ngIfElse]="noLogin3">
                                            <button style="height:2.4rem; margin-top: 5px;" data-placement="right"
                                                (click)="removeUserPokemon(pokemon.dex, pokemon.shiny)"
                                                class="btn btn-facebook btn-block" data-toggle="tooltip"
                                                data-placement="right" title="Remove Pokémon from Your Collection!"><i
                                                    class="fas fa-times-circle" style="font-size:24px;"></i></button>
                                        </ng-template>
                                        <ng-template #noLogin3>
                                            <button style="height:2.4rem; margin-top: 5px;" data-placement="right"                                               
                                                class="btn btn-facebook btn-block" data-toggle="tooltip"
                                                data-placement="right"
                                                title="You must log in first to manage your own collection!<br/><br/>Remove Pokémon from Your Collection!"><i
                                                    class="fas fa-times-circle" style="font-size:24px;"></i></button>
                                        </ng-template>
                                    </ng-template>
                                    <ng-template #notInCollection>
                                        <ng-template [ngIf]="globalFunctions.loginUsername" [ngIfElse]="noLogin4">
                                            <button style="height:2.4rem; margin-top: 5px;" data-placement="right"
                                                (click)="addUserPokemon(pokemon.dex, pokemon.shiny)"
                                                class="btn btn-facebook btn-block" data-toggle="tooltip"
                                                data-placement="right" data-html="true"
                                                title="Save Pokémon in Your Collection!">
                                                <i class="fas fa-compress-arrows-alt"
                                                    style="font-size:23px;color:#ffc107;"></i></button>
                                        </ng-template>
                                        <ng-template #noLogin4> 
                                            <button style="height:2.4rem; margin-top: 5px;" data-placement="right"
                                                class="btn btn-facebook btn-block" data-toggle="tooltip"
                                                data-placement="right" data-html="true"
                                                title="You must log in first to manage your own collection!<br/><br/>Save Pokémon in Your Collection!">
                                                <i class="fas fa-compress-arrows-alt"
                                                    style="font-size:23px;color:#ffc107;"></i></button>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>