.hidden {
    display:none !important;
}

.hidden-false {
    display:block !important;
}
.hidden-true {
    display:none !important;
}

.col-xl-2 {
    min-width: 19rem !important;
}

.pokemon-selected:not(.filter-shiny-true) > div {
    box-shadow: 0px 0px 8px 12px #4e73df !important;
} 

div.pokemon-selected.filter-shiny-true > div {
    box-shadow: 0px 0px 8px 12px #f16fe6 !important;
} 

.filter-inCollection-true  > div {
    border: 3px solid #ffc107;
    border-left:12px solid #ffc107 !important;
   
}