<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/full-pokedex']"
            style="text-transform: none; letter-spacing: 0.25rem; height:5rem; ">
            <div class="sidebar-brand-icon rotate-n-15">
                <!-- <i class="fas fa-laugh-wink"></i>-->
                <i style="font-size:50px" class="pkmn pkmn-025-pikachu"></i>
            </div>
            <div class="sidebar-brand-text mx-3 pokemon-font" style="margin: 0 0 0 0rem !important; font-size:22px">
                MyPokédex</div>
        </a>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active ">
            <a id="langChange" class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="false"
                data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <img src="assets/img/de.png" class="collapse-item language language_de" style="width:23px;" alt="">
                <img src="assets/img/en.png" class="collapse-item language language_en" style="display:none;width:23px;"
                    alt="">
                <img src="assets/img/es.png" class="collapse-item language language_es" style="display:none;width:23px;"
                    alt="">
                <img src="assets/img/fr.png" class="collapse-item language language_fr" style="display:none;width:23px;"
                    alt="">
                <img src="assets/img/it.png" class="collapse-item language language_it" style="display:none;width:23px;"
                    alt="">
                <img src="assets/img/ja.png" class="collapse-item language language_ja" style="display:none;width:23px;"
                    alt="">
                <img src="assets/img/ko.png" class="collapse-item language language_ko" style="display:none;width:23px;"
                    alt="">&nbsp;&nbsp;&nbsp;<span>Language</span></a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-1 collapse-inner rounded"
                    style="max-width:80px !important; min-width: 20px !important;">
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('de')"><img src="assets/img/de.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('en')"><img src="assets/img/en.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('es')"><img src="assets/img/es.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('fr')"><img src="assets/img/fr.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('it')"><img src="assets/img/it.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('ja')"><img src="assets/img/ja.png"
                            style="width:25px;" alt=""></a>
                    <a class="collapse-item" [routerLink]="" (click)="changeLanguage('ko')"><img src="assets/img/ko.png"
                            style="width:25px;" alt=""></a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item active">
            <a class="nav-link " id="a-filter" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i style="font-size:22px;" class="fas fa-filter"></i>&nbsp;
                <span>Filter</span></a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item filter" data-filterclass="filter-all" [routerLink]=""
                        (click)="globalFunctions.toggleSelection(true, $event)"><i class="fas fa-globe"></i>&nbsp;
                        Full Pokedex</a>
                </div>
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item filter" [routerLink]="" data-filterclass="filter-inCollection-true"
                        (click)="globalFunctions.toggleSelection(false, $event)"><i class="fas fa-dot-circle" style="color:#ffc107;"></i>&nbsp;
                        My
                        Collection</a>
                </div>
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item filter selected" [routerLink]="" data-filterclass="filter-shiny-false"
                        (click)="globalFunctions.toggleSelection(false, $event)"><i
                            class="fas fa-map-marker"></i>&nbsp;Regular</a>
                    <a class="collapse-item filter" [routerLink]="" data-filterclass="filter-shiny-true"
                        (click)="globalFunctions.toggleSelection(false, $event)"><i
                            class="fas fa-star" style="color:#f16fe6;"></i>&nbsp;Shiny</a>
                </div>
                <div class="bg-white py-2 collapse-inner rounded">
                    <h1 class="collapse-header" style="font-size:0.9rem">Type</h1>
                    <a *ngFor="let type of types; index as i;" class="collapse-item filter" [routerLink]=""
                        (click)="globalFunctions.toggleSelection(false, $event)"
                        [attr.data-filterclass]="type.class">{{type!.name}}</a>
                </div>
                <div class="bg-white py-2 collapse-inner rounded">
                    <h2 class="collapse-header" style="font-size:0.9rem">Region</h2>
                    <a *ngFor="let region of globalFunctions.pokedexRegions; index as i;" class="collapse-item filter"
                        [routerLink]="" (click)="globalFunctions.toggleSelection(false, $event)"
                        [attr.data-filterclass]="region.class">{{region!.name}}</a>
                    <!-- <a *ngFor="let region of pokedexRegions; index as i;" class="collapse-item filter" [routerLink]=""
                        (click)="globalFunctions.toggleSelection('.' + region!.name, true)"
                        [attr.data-filterclass]="region.url">{{region!.name}}</a>-->
                </div>
            </div>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <router-outlet></router-outlet>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MyPokedex 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
    <div style="margin-top: -31px;font-size: 12px;">ESC</div>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" [routerLink]="">Logout</a>
            </div>
        </div>
    </div>
</div>