<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><p class="text-capitalize">Pokédex 123</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-pokemons']">Meine Pokémon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-edit']">Benutzer bearbeiten</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cotainer">
  <div class="row">
    <div class="col-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/full-pokedex']"
            style="text-transform: none; letter-spacing: 0.25rem; height:5rem; ">
            <div class="sidebar-brand-icon rotate-n-15">
                <!-- <i class="fas fa-laugh-wink"></i>-->
                <i style="font-size:50px" class="pkmn pkmn-025-pikachu"></i>
            </div>
            <div class="sidebar-brand-text mx-3 pokemon-font" style="margin: 0 0 0 0rem !important; font-size:22px">
                MyPokédex</div>
        </a>


        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/full-pokedex']">
                <i style="font-size:23px;" class="fas fa-globe"></i>&nbsp;
                <span>Full Pokedex</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/user-pokemons']">
                <i style="font-size:20px;" class="fas fa-trophy"></i>&nbsp;
                <span>My Collection</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/user-edit']">
                <i style="font-size:20px;" class="fas fa-wrench"></i>&nbsp;
                <span>Einstellungen</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <a class="collapse-item" href="javascript:void()"></a><img src="assets/img/de.png"  style="width:25px;" alt=""></a>
           
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-1 collapse-inner rounded" style="max-width:80px !important; min-width: 20px !important;">
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/de.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/gb.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/fr.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/es.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/it.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/kr.png"  style="width:25px;" alt=""></a>
                    <a class="collapse-item" href="javascript:void()"><img src="assets/img/ro.png"  style="width:25px;" alt=""></a>                    
                </div>
            </div>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <router-outlet></router-outlet>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MyPokedex 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="">Logout</a>
            </div>
        </div>
    </div>
</div>